<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069922954077-do4irc90ng0ahi97n74c8q4vk8pefll5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069922954077-do4irc90ng0ahi97n74c8q4vk8pefll5</string>
	<key>API_KEY</key>
	<string>AIzaSyBSfdQcwl4qsqoOBC8vCIs4_XeN9fJFoLs</string>
	<key>GCM_SENDER_ID</key>
	<string>1069922954077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeynepOzdemirAcikgoz.Bebiller</string>
	<key>PROJECT_ID</key>
	<string>bebillerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bebillerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069922954077:ios:9f503fa733209d1b0b16b4</string>
	<key>DATABASE_URL</key>
	<string>https://bebillerapp-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>